<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.woolim.mapper.BbsMapper">

    <select id="total_count" resultType="int">
        select count(*) from woo_bbs
        <where>
            bbs_teacher_yn = #{bbs_teacher_yn}
            <if test="lecture_idx != null and lecture_idx != ''">
                and lecture_idx=#{lecture_idx}
            </if>
            <if test="bbs_type !=null and bbs_type !=''">
                and bbs_category_code=#{bbs_type}
            </if>
            <if test="search_types != null">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and bbs_title like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            and member_id like concat('%', #{search_word},'%' )
                        </when>
                        <when test="type == 'c'.toString()">
                            and bbs_content like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
                and bbs_reg_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and bbs_reg_date <![CDATA[<=]]> #{search_date2}
            </if>
        </where>
    </select>

    <select id="bbsListByPage" resultType="org.fullstack4.woolim.domain.BbsVO">
        select bbs_idx, member_id, bbs_title, bbs_content, bbs_reg_date, bbs_image, bbs_file_yn, bbs_category_code, bbs_read_cnt, bbs_reply_yn, bbs_like, bbs_modify_date, bbs_reply_cnt, lecture_idx
        from woo_bbs
        <where>
            bbs_teacher_yn = #{bbs_teacher_yn}
            <if test="lecture_idx != null and lecture_idx != ''">
                and lecture_idx=#{lecture_idx}
            </if>
            <if test="bbs_type !=null and bbs_type !=''">
               and bbs_category_code=#{bbs_type}
            </if>
            <if test="search_word!= null and search_word !=''">
                <if test="search_types == null">
                    and (bbs_title like concat('%', #{search_word},'%')
                    or member_id like concat('%', #{search_word},'%' )
                    or bbs_content like concat('%', #{search_word},'%' ))
                </if>
            <if test="search_types != null">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and bbs_title like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            and member_id like concat('%', #{search_word},'%' )
                        </when>
                        <when test="type == 'c'.toString()">
                            and bbs_content like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
                and bbs_reg_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and bbs_reg_date <![CDATA[<=]]> #{search_date2}
            </if>
        </where>

        order by bbs_idx desc
        limit #{page_skip_count}, #{page_size}
    </select>

    <select id="view" resultType="org.fullstack4.woolim.domain.BbsVO">
        select bbs_idx, member_id, bbs_title, bbs_content, bbs_reg_date, bbs_image, bbs_file_yn, bbs_category_code, bbs_read_cnt, bbs_reply_yn, bbs_like, bbs_modify_date, bbs_reply_cnt
        from woo_bbs
        where bbs_idx = #{bbs_idx}
    </select>

    <insert id="regist" parameterType="org.fullstack4.woolim.domain.BbsVO" useGeneratedKeys="true" keyProperty="bbs_idx" keyColumn="bbs_idx">
        INSERT INTO woo_bbs (member_id,bbs_title,bbs_content,bbs_image,bbs_reg_date,bbs_category_code,bbs_teacher_yn)
        VALUES(#{member_id},#{bbs_title},#{bbs_content},#{bbs_image}, now(),#{bbs_category_code},#{bbs_teacher_yn})
    </insert>

    <update id="modify">
        UPDATE woo_bbs SET bbs_title=#{bbs_title}, bbs_content=#{bbs_content}, bbs_image=#{bbs_image}
        , bbs_modify_date=now()
        WHERE bbs_idx = #{bbs_idx}
    </update>

    <delete id="delete">
        DELETE FROM woo_bbs WHERE bbs_idx = #{bbs_idx}
    </delete>

    <insert id="file_regist">
        INSERT INTO woo_bbs_file(bbs_idx, orgFile, saveFile)
        VALUES(#{bbs_idx},#{orgFile},#{saveFile})
    </insert>

    <select id="fileView" resultType="org.fullstack4.woolim.domain.BoardFileVO">
        select bbs_idx, orgFile, saveFile
        from woo_bbs_file
        where bbs_idx = #{bbs_idx}
    </select>

    <delete id="deleteList" parameterType="java.util.Arrays">
        DELETE FROM woo_bbs
        <where>
            bbs_idx IN
            <foreach collection="array" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
    </delete>

    <update id="fileModify">
        update woo_bbs_file set orgFile = #{orgFile}, saveFile = #{saveFile}
        where bbs_idx = #{bbs_idx}

    </update>

    <select id="checkExistingFiles" resultType="int">
        SELECT COUNT(*) FROM woo_bbs_file WHERE bbs_idx = #{bbs_idx}
    </select>

    <update id="updateReadCount" parameterType="int">
        UPDATE woo_bbs SET bbs_read_cnt = bbs_read_cnt + 1 WHERE bbs_idx = #{bbs_idx}
    </update>

    <insert id="InsertLectureBbs" parameterType="org.fullstack4.woolim.domain.BbsVO" useGeneratedKeys="true" keyProperty="bbs_idx" keyColumn="bbs_idx">
        INSERT INTO woo_bbs (member_id,bbs_title,bbs_content,bbs_image,bbs_reg_date,bbs_category_code,bbs_teacher_yn,lecture_idx)
        VALUES(#{member_id},#{bbs_title},#{bbs_content},#{bbs_image}, now(),#{bbs_category_code},#{bbs_teacher_yn},#{lecture_idx})
    </insert>
    <select id="file_list" resultType="org.fullstack4.woolim.domain.BoardFileVO">
        SELECT idx, bbs_idx, orgFile, saveFile
        FROM woo_bbs_file
        WHERE bbs_idx = #{bbs_idx}
    </select>
    <delete id="file_delete">
        DELETE
        FROM woo_bbs_file
        WHERE bbs_idx = #{bbs_idx}
    </delete>
</mapper>