<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.woolim.mapper.LectureMapper">

    <sql id="criteria">
        <trim prefix="where (" suffix=")" prefixOverrides="OR">
            <foreach collection="typeArr" item="type">
                <trim prefix="OR">
                    <choose>
                        <when test="type == 'T'.toString()">
                            lecture_title like concat('%',#{keyword},'%')
                        </when>
                        <when test="type == 'W'.toString()">
                            member_name like concat('%',#{keyword},'%' )
                        </when>
                        <when test="type == 'C'.toString()">
                            lecture_category_school like concat('%',#{keyword},'%' )
                        </when>
                    </choose>
                </trim>
            </foreach>
        </trim>
    </sql>
    <sql id="category">

        <foreach collection="typeArr" item="type">
            <trim prefix="AND">
                <choose>
                    <when test="type == 'T'.toString()">
                        lecture_title like concat('%',#{keyword},'%')
                    </when>
                    <when test="type == 'W'.toString()">
                        member_name like concat('%',#{keyword},'%' )
                    </when>
                    <when test="type == 'C'.toString()">
                        lecture_category_school like concat('%',#{keyword},'%' )
                    </when>
                </choose>
            </trim>
        </foreach>
    </sql>

    <select id="getList" resultType="org.fullstack4.woolim.domain.LectureVO">
        select * from woo_lecture
        <if test="keyword != null">
            <include refid="criteria"></include>
        </if>
        <if test="sorting != null">

            <choose>

                <when test="sorting == '1'.toString()">
                    order by lecture_count desc
                </when>
                <when test="sorting == '2'.toString()">
                    order by lecture_reg_date desc
                </when>
                <when test="sorting == '3'.toString()">
                    order by lecture_reg_date desc
                </when>
                <when test="sorting == '4'.toString()">
                    order by  lecture_reg_date desc
                </when>
            </choose>
        </if>
        limit #{skip}, #{amount}
    </select>
    <select id="getListCategory" resultType="org.fullstack4.woolim.domain.LectureVO">
        select * from woo_lecture where lecture_category_subject = #{category}
        <if test="keyword != null">
            <include refid="category"></include>
        </if>
        <if test="sorting != null">

            <choose>

                <when test="sorting == '1'.toString()">
                    order by lecture_count desc
                </when>
                <when test="sorting == '2'.toString()">
                    order by lecture_reg_date desc
                </when>
                <when test="sorting == '3'.toString()">
                    order by lecture_reg_date desc
                </when>
                <when test="sorting == '4'.toString()">
                    order by  lecture_reg_date desc
                </when>
            </choose>
        </if>
        limit #{skip}, #{amount}
    </select>

    <select id="getLectureKeyword" resultType="int">
        select count(*)
        from woo_lecture
        <if test="keyword != null">
            <include refid="criteria"></include>
        </if>
    </select>
    <select id="getLectureKeywordCategory" resultType="int">
        select count(*)
        from woo_lecture
        where lecture_category_subject = #{category}
        <if test="keyword != null">
            <include refid="category"></include>
        </if>
    </select>

    <select id="lectureView" resultType="org.fullstack4.woolim.domain.LectureVO">
        select * from woo_lecture
        where lecture_idx = #{idx}
    </select>

    <select id="gradeListByPage" resultType="org.fullstack4.woolim.domain.ClassVO">
        SELECT wl.lecture_title, wm.member_name, wg.grade, wl.lecture_idx, wg.grade_idx
        FROM woo_grade AS wg
        INNER JOIN woo_member AS wm on wm.member_id = wg.member_id
        INNER JOIN woo_lecture AS wl on wl.lecture_idx = wg.lecture_idx
        <where>
            <if test="teacher_id != null and teacher_id != ''">
                and wm.member_id=#{teacher_id}
            </if>
            and wg.lecture_idx = #{lecture_idx}
        </where>
        ORDER BY wg.grade_idx DESC
        limit #{page_skip_count}, #{page_size}
    </select>

    <select id="grade_count" resultType="int">
        SELECT count(*)
        FROM woo_grade AS wg
        INNER JOIN woo_member AS wm on wm.member_id = wg.member_id
        INNER JOIN woo_lecture AS wl on wl.lecture_idx = wg.lecture_idx
        <where>
            <if test="teacher_id != null and teacher_id != ''">
                and wm.member_id=#{teacher_id}
            </if>
            and wg.lecture_idx = #{lecture_idx}
        </where>
    </select>

    <select id="lectureVideo" resultType="org.fullstack4.woolim.domain.VideoVO">
        select * from woo_video
        where lecture_idx = #{lecture_idx}

    </select>


    <update id="regist">
        update woo_grade set grade = #{grade}
        WHERE grade_idx = #{grade_idx}
    </update>

    <update id="modify">
        update woo_grade set grade = #{grade}
        WHERE grade_idx = #{grade_idx}
    </update>

    <update id="delete">
        update woo_grade set grade = null
        WHERE grade_idx = #{grade_idx}
    </update>


    <select id="getGrade" resultType="org.fullstack4.woolim.domain.ClassVO">
        SELECT wm.member_name, wg.grade, wl.lecture_title, wg.grade_idx, wc.class_idx
        FROM woo_class AS wc
         INNER JOIN woo_lecture AS wl ON wl.lecture_idx = wc.lecture_idx
         INNER JOIN woo_grade AS wg ON wg.lecture_idx = wl.lecture_idx
         INNER JOIN woo_member AS wm ON wm.member_id = wc.member_id
        WHERE wc.class_idx = #{class_idx}
    </select>
    <select id="lectureStatus" resultType="org.fullstack4.woolim.domain.OrderListVO">
        select * from woo_order_detail
        where lecture_idx = #{arg0} and member_id = #{arg1}

    </select>
    <select id="getLectureCartStatus" resultType="org.fullstack4.woolim.domain.CartVO">
        select * from woo_cart
        where lecture_idx = #{arg0} and member_id = #{arg1} and cart_status = 'N'

    </select>
</mapper>