<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.woolim.mapper.LectureAdminMapper">
    <select id="getTeacherList" resultType="org.fullstack4.woolim.domain.MemberVO">
        select * from woo_member where member_category = "teacher"
    </select>
    <select id="getList" resultType="org.fullstack4.woolim.domain.LectureVO">
        select * from woo_lecture
    </select>



    <insert id="insertLecture">
        INSERT INTO woo_lecture (
            lecture_title,
            member_name,
            lecture_start_date,
            lecture_end_date,
            lecture_image,
            lecture_content,
            lecture_category_subject,
            lecture_category_school,
            lecture_category_grade,
            lecture_reg_date,
            member_id,
            lecture_study,
            lecture_content_detail,
            lecture_price,
            lecture_sale,
            lecture_sale_price
        ) VALUES (
                     #{lecture_title},
                     #{member_name},
                     #{lecture_start_date},
                     #{lecture_end_date},
                     #{lecture_image},
                     #{lecture_content},
                     #{lecture_category_subject},
                     #{lecture_category_school},
                     #{lecture_category_grade},
                     now(),
                     #{member_id},
                     #{lecture_study},
                     #{lecture_content_detail},
                     #{lecture_price},
                     #{lecture_sale},
                     #{lecture_sale_price}
                 );

    </insert>

    <delete id="deleteLecture">
        delete from woo_lecture where lecture_idx = #{lecture_idx}
    </delete>

    <update id="deleteLectureImage">
        update woo_lecture set lecture_image = null where lecture_idx = #{lecture_idx}
    </update>

    <update id="modifyLectureFile">
        UPDATE woo_lecture
        SET
            lecture_title = #{lecture_title},
            member_name = #{member_name},
            lecture_start_date = #{lecture_start_date},
            lecture_end_date = #{lecture_end_date},
            lecture_image = #{lecture_image},
            lecture_content = #{lecture_content},
            lecture_category_subject = #{lecture_category_subject},
            lecture_category_school = #{lecture_category_school},
            lecture_category_grade = #{lecture_category_grade},
            member_id = #{member_id},
            lecture_study = #{lecture_study},
            lecture_content_detail = #{lecture_content_detail},
            lecture_price = #{lecture_price},
            lecture_sale = #{lecture_sale}
        WHERE lecture_idx = #{lecture_idx};
    </update>

    <update id="modifyLecture">
        UPDATE woo_lecture
        SET
            lecture_title = #{lecture_title},
            member_name = #{member_name},
            lecture_start_date = #{lecture_start_date},
            lecture_end_date = #{lecture_end_date},
            lecture_image = #{lecture_image},
            lecture_content = #{lecture_content},
            lecture_category_subject = #{lecture_category_subject},
            lecture_category_school = #{lecture_category_school},
            lecture_category_grade = #{lecture_category_grade},
            member_id = #{member_id},
            lecture_study = #{lecture_study},
            lecture_content_detail = #{lecture_content_detail},
            lecture_price = #{lecture_price},
            lecture_sale = #{lecture_sale}
        WHERE lecture_idx = #{lecture_idx};
    </update>
</mapper>