<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.woolim.mapper.MemberMapper">


    <insert id="regist">
        INSERT INTO woo_member(member_id, member_pwd, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_reg_date)
        VALUES(#{member_id}, #{member_pwd}, #{member_email}, #{member_phone}, #{member_email_addr}, #{member_zonecode}, #{member_addr}, #{member_addr_detail}, #{member_category}, #{member_name}, 0, 'N', NOW() )
    </insert>

    <select id="view" resultType="org.fullstack4.woolim.domain.MemberVO">
        SELECT member_id,member_name, member_pwd, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_reg_date
        FROM woo_member
        WHERE member_id= #{member_id}
    </select>
    <select id="memberView" resultType="org.fullstack4.woolim.domain.MemberVO">
        SELECT member_id,member_name, member_pwd, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_reg_date
        FROM woo_member
        WHERE member_id= #{member_id}
    </select>

    <select id ="MemberListbyPage" resultType="org.fullstack4.woolim.domain.MemberVO">
        SELECT wm.member_idx, member_id, member_name ,member_pwd, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_oauth,member_reg_date,wts.subject_category_code
<!--        SELECT member_idx, member_id, member_name ,member_pwd, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_oauth,member_reg_date-->
        FROM woo_member as wm
        INNER JOIN woo_teacher_subject AS wts ON wm.member_idx = wts.member_idx
        <where>
            <if test="member_type !=null and member_type !=''">
                member_category = #{member_type}
            </if>
            <if test=' search_word != null and search_word != "" '>
                AND member_name LIKE CONCAT('%',#{search_word}, '%')
                AND member_Id LIKE CONCAT('%',#{search_word}, '%')
            </if>
            <if test="search_types != null and search_types !=''">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            or member_id like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            or subject_category_code like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'c'.toString()">
                            or member_name like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
        </where>
        ORDER by wm.member_idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id ="total_count" resultType="int">
        SELECT count(*)
        FROM woo_member as wm
        INNER JOIN woo_teacher_subject AS wts ON wm.member_idx = wts.member_idx
        <where>
            <if test="member_type !=null and member_type !=''">
                member_category = #{member_type}
            </if>
            <if test=' search_word != null and search_word != "" '>
                AND member_name LIKE CONCAT('%',#{search_word}, '%')
                AND member_Id LIKE CONCAT('%',#{search_word}, '%')
            </if>
            <if test="search_types != null and search_types !=''">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            or member_id like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            or subject_category_code like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'c'.toString()">
                            or member_name like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
        </where>
    </select>

    <select id="teacherDetail" resultType="org.fullstack4.woolim.domain.MemberVO">
        SELECT ts_idx,member_idx,subject_category_code
        from teacher_subject
        where member_idx=#{member_idx}
    </select>
</mapper>