<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.woolim.mapper.MemberMapper">

    <insert id="regist">
        INSERT INTO woo_member(member_id, member_pwd, member_oauth, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_reg_date)
        VALUES(#{member_id}, #{member_pwd}, #{member_oauth}, #{member_email}, #{member_phone}, #{member_email_addr}, #{member_zonecode}, #{member_addr}, #{member_addr_detail}, #{member_category}, #{member_name}, 0, 'N', NOW() )
    </insert>
    <update id="leave">
        UPDATE woo_member
        set member_status = 'Y'
        WHERE member_id = #{member_id}
    </update>

    <select id="view" resultType="org.fullstack4.woolim.domain.MemberVO">
        SELECT member_idx,member_id,member_name, member_pwd, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_reg_date
        FROM woo_member
        <where>
            <if test="member_id !=null and member_id !=''">
                member_id= #{member_id}
                AND member_status= 'N'
            </if>
            <if test="member_idx !=null and member_idx !=''">
                or member_idx = #{member_idx}
                AND member_status= 'N'
            </if>
        </where>
    </select>

    <update id="modify">
        update woo_member
        set member_pwd = #{member_pwd}, member_phone = #{member_phone}, member_addr = #{member_addr}, member_zonecode = #{member_zonecode}, member_email=#{member_email}, member_addr_detail = #{member_addr_detail}, member_modify_date = now()
        where member_id = #{member_id}
    </update>
    <update id="google_modify">
        update woo_member
        set member_addr = #{member_addr}, member_phone = #{member_phone}, member_zonecode = #{member_zonecode}, member_addr_detail = #{member_addr_detail}, member_modify_date = now()
        where member_oauth = #{member_oauth}
    </update>

    <select id="memberView" resultType="org.fullstack4.woolim.domain.MemberVO">
        SELECT member_idx, member_id,member_name, member_pwd, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_reg_date, member_oauth
        FROM woo_member
        WHERE member_id= #{member_id}
        AND member_status= 'N'
    </select>
    <select id="google" resultType="org.fullstack4.woolim.domain.MemberVO">
        SELECT member_idx, member_id,member_name, member_pwd, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_reg_date, member_oauth
        FROM woo_member
        WHERE member_oauth= #{member_oauth}
        AND member_status= 'N'
    </select>

    <select id="teahcerview" resultType="org.fullstack4.woolim.domain.MemberVO">
        SELECT wm.member_idx, member_id, member_name ,member_pwd, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_oauth,member_reg_date,wts.subject_category_code,teacher_image_file,teacher_intro
        <!--        SELECT member_idx, member_id, member_name ,member_pwd, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_oauth,member_reg_date-->
        FROM woo_member as wm
        INNER JOIN woo_teacher_subject AS wts ON wm.member_idx = wts.member_idx
        WHERE wm.member_idx =#{member_idx}
    </select>

    <select id ="MemberListbyPage" resultType="org.fullstack4.woolim.domain.MemberVO">
        SELECT wm.member_idx, member_id, member_name ,member_pwd, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_oauth,member_reg_date,wts.subject_category_code,teacher_image_file,teacher_intro
<!--        SELECT member_idx, member_id, member_name ,member_pwd, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_oauth,member_reg_date-->
        FROM woo_member as wm
        INNER JOIN woo_teacher_subject AS wts ON wm.member_idx = wts.member_idx
        <where>
            <if test="member_type !=null and member_type !=''">
                member_category = #{member_type}
            </if>
            <if test=' search_word != null and search_word != "" '>
                AND member_name LIKE CONCAT('%',#{search_word}, '%')
                AND member_Id LIKE CONCAT('%',#{search_word}, '%')
            </if>
            <if test="search_types != null and search_types !=''">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            or member_id like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            or subject_category_code like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'c'.toString()">
                            or member_name like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
        </where>
        ORDER by wm.member_idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id ="total_count" resultType="int">
        SELECT count(*)
        FROM woo_member as wm
        INNER JOIN woo_teacher_subject AS wts ON wm.member_idx = wts.member_idx
        <where>
            <if test="member_type !=null and member_type !=''">
                member_category = #{member_type}
            </if>
            <if test=' search_word != null and search_word != "" '>
                AND member_name LIKE CONCAT('%',#{search_word}, '%')
                AND member_Id LIKE CONCAT('%',#{search_word}, '%')
            </if>
            <if test="search_types != null and search_types !=''">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            or member_id like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            or subject_category_code like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'c'.toString()">
                            or member_name like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
        </where>
    </select>

    <select id="teacherDetail" resultType="org.fullstack4.woolim.domain.MemberVO">
        SELECT ts_idx,member_idx,subject_category_code
        from teacher_subject
        where member_idx=#{member_idx}
    </select>

    <select id ="adminMemberList" resultType="org.fullstack4.woolim.domain.MemberVO">
        SELECT member_idx, member_id, member_name ,member_pwd, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_oauth,member_reg_date
        FROM woo_member
        <where>

            <if test="member_type !=null and member_type !=''">
                and member_category = #{member_type}
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
                and member_reg_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and member_reg_date <![CDATA[<=]]> #{search_date2}
            </if>
            <if test="search_word != null and search_word != ''">
                AND member_name LIKE CONCAT('%',#{search_word}, '%')
                or member_Id LIKE CONCAT('%',#{search_word}, '%')
            </if>
            <if test="search_types != null and search_types !=''">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and member_id like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'c'.toString()">
                            and member_name like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
            <if test="member_type == 'admin'.toString()">
                and member_category = 'admin'
            </if>
            <if test="member_type == 'student'.toString()">
                and member_category = 'student'
            </if>
            <if test="member_type == 'teacher'.toString()">
                and member_category = 'teacher'
            </if>
        </where>
        ORDER by member_idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>

    <select id ="admin_total_count" resultType="int">
        SELECT count(*)
        FROM woo_member
        <where>

            <if test="member_type !=null and member_type !=''">
                and member_category = #{member_type}
            </if>
            <if test="search_word != null and search_word != '' ">
                AND member_name LIKE CONCAT('%',#{search_word}, '%')
                or member_Id LIKE CONCAT('%',#{search_word}, '%')
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
                and member_reg_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and member_reg_date <![CDATA[<=]]> #{search_date2}
            </if>
            <if test="search_types != null and search_types !=''">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and member_id like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'c'.toString()">
                            and member_name like concat('%', #{search_word},'%' )
                        </when>

                    </choose>
                </foreach>
            </if>
            <if test="member_type == 'admin'.toString()">
                and member_category = 'admin'
            </if>
            <if test="member_type == 'student'.toString()">
                and member_category = 'student'
            </if>
            <if test="member_type == 'teacher'.toString()">
                and member_category = 'teacher'
            </if>
        </where>
    </select>

    <update id="changePoint">
        Update woo_member SET member_point=member_point+#{member_point} where member_id=#{member_id}
    </update>

    <update id="deleteMemberList" parameterType="java.util.Arrays">
        update woo_member set member_status = 'Y'
        <where>
            member_idx IN
            <foreach collection="array" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
    </update>

    <update id="adminMemberStatus" >
        update woo_member set member_category = #{member_category}
        <where>
            member_idx IN
            <foreach collection="array" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
    </update>

    <update id="adminDetail">
        update woo_member set member_category = #{member_category},
                              member_status = #{member_status}
        where member_id = #{member_id}
    </update>
    <select id="id_check" resultType="int">
        SELECT COUNT(*)
        FROM woo_member
        WHERE member_id = #{member_id}
    </select>
    <select id="email_check" resultType="int">
        SELECT COUNT(*)
        FROM woo_member
        WHERE CONCAT(member_email,'@',member_email_addr) = #{member_email}
    </select>

    <select id="LectureListbyTeacherpage" resultType="org.fullstack4.woolim.domain.LectureVO">
        SELECT lecture_idx,lecture_title,member_name,lecture_start_date,lecture_end_date,lecture_image,lecture_price,lecture_sale_price,member_id
        FROM woo_lecture
        <where>
            member_idx = #{member_idx}
            <if test="search_word != null and search_word != '' ">
                AND (lecture_title LIKE CONCAT('%',#{search_word}, '%')
                or member_name LIKE CONCAT('%',#{search_word}, '%'))
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
                and member_reg_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and member_reg_date <![CDATA[<=]]> #{search_date2}
            </if>
            <if test="search_types != null and search_types !=''">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and lecture_title like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'c'.toString()">
                            and member_name like concat('%', #{search_word},'%' )
                        </when>

                    </choose>
                </foreach>
            </if>
        </where>
        ORDER by lecture_idx DESC
        LIMIT #{page_skip_count}, #{page_size}
    </select>
    <select id="countTeacherSubject" resultType="int">
        select count(*) from woo_teacher_subject where member_idx = #{member_idx}
    </select>
    <select id="LectureListCountByT" resultType="int">
        select count(*)
        FROM woo_lecture
        <where>
            member_idx = #{member_idx}
            <if test="search_word != null and search_word != '' ">
                AND (lecture_title LIKE CONCAT('%',#{search_word}, '%')
                or member_name LIKE CONCAT('%',#{search_word}, '%'))
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
                and member_reg_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and member_reg_date <![CDATA[<=]]> #{search_date2}
            </if>
            <if test="search_types != null and search_types !=''">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and lecture_title like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'c'.toString()">
                            and member_name like concat('%', #{search_word},'%' )
                        </when>

                    </choose>
                </foreach>
            </if>
        </where>

    </select>


    <insert id="detailInsert">
        INSERT INTO woo_teacher_subject (member_idx)
        VALUES (#{member_idx})
    </insert>

    <select id="teacherIntroView" resultType="org.fullstack4.woolim.domain.TeacherSubjectVO">
        SELECT ts.teacher_image_file, ts.teacher_intro, m.member_id, ts.subject_category_code
        FROM woo_teacher_subject AS ts INNER JOIN woo_member AS m ON ts.member_idx = m.member_idx
        WHERE m.member_id = #{member_id}
    </select>

    <update id="teacherIntroUpdate">
        UPDATE woo_teacher_subject SET teacher_image_file = #{teacher_image_file}, teacher_intro = #{teacher_intro}, subject_category_code = #{subject_category_code}
        WHERE member_idx = #{member_idx}
    </update>

    <select id="adminMemberView" resultType="org.fullstack4.woolim.domain.MemberVO">
        SELECT member_idx, member_id,member_name, member_pwd, member_email, member_phone, member_email_addr, member_zonecode, member_addr, member_addr_detail, member_category, member_name, member_point, member_status, member_reg_date, member_oauth
        FROM woo_member
        WHERE member_id= #{member_id}
    </select>



</mapper>