<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.woolim.mapper.MyStudyMapper">

    <select id="total_count" resultType="int">
        select count(*) from woo_bbs
        <where>
            <if test="bbs_type !=null and bbs_type !=''">
                bbs_category_code=#{bbs_type}
            </if>
            <if test="search_types == null">
                and (bbs_title like concat('%', #{search_word},'%')
                or member_id like concat('%', #{search_word},'%' )
                or bbs_content like concat('%', #{search_word},'%' ))
            </if>
            <if test="search_types != null">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and bbs_title like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            and member_id like concat('%', #{search_word},'%' )
                        </when>
                        <when test="type == 'c'.toString()">
                            and bbs_content like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
                and bbs_reg_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and bbs_reg_date <![CDATA[<=]]> #{search_date2}
            </if>
            AND member_id = #{member_id}
        </where>
        limit #{page_skip_count}, #{page_size}
    </select>

    <select id="bbsListByPage" resultType="org.fullstack4.woolim.domain.BbsVO">
        select bbs_idx, member_id, bbs_title, lecture_idx, bbs_content, bbs_reg_date, bbs_image, bbs_file_yn, bbs_category_code, bbs_read_cnt, bbs_reply_yn, bbs_like, bbs_modify_date
        from woo_bbs
        <where>
            <if test="bbs_type !=null and bbs_type !=''">
                bbs_category_code=#{bbs_type}
            </if>
            <if test="search_types == null">
                and (bbs_title like concat('%', #{search_word},'%')
                or member_id like concat('%', #{search_word},'%' )
                or bbs_content like concat('%', #{search_word},'%' ))
            </if>
            <if test="search_types != null">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and bbs_title like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            and member_id like concat('%', #{search_word},'%' )
                        </when>
                        <when test="type == 'c'.toString()">
                            and bbs_content like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
                and bbs_reg_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and bbs_reg_date <![CDATA[<=]]> #{search_date2}
            </if>
            AND member_id = #{member_id}
        </where>

        order by bbs_idx desc
        limit #{page_skip_count}, #{page_size}
    </select>

    <select id="view" resultType="org.fullstack4.woolim.domain.BbsVO">
        select bbs_idx, member_id, bbs_title, bbs_content, bbs_reg_date, bbs_image, bbs_file_yn, bbs_category_code, bbs_read_cnt, bbs_reply_yn, bbs_like, bbs_modify_date
        from woo_bbs
        where bbs_idx = #{bbs_idx}
    </select>

    <select id="LectureListByPage" resultType="org.fullstack4.woolim.domain.LectureVO">
        SELECT wl.lecture_idx,lecture_title,member_name,lecture_start_date,lecture_end_date,lecture_image
        FROM woo_lecture as wl
        INNER JOIN woo_order_detail as wod ON wl.lecture_idx = wod.lecture_idx
        <where>
            wod.member_id =#{member_id}
            <if test="search_types == null">
                and (lecture_title like concat('%', #{search_word},'%')
                or member_name like concat('%', #{search_word},'%' ))
            </if>
            <if test="search_types != null">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and lecture_title like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            and member_name like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
                and bbs_reg_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and bbs_reg_date <![CDATA[<=]]> #{search_date2}
            </if>
        </where>

        order by wod.order_detail_idx desc
        limit #{page_skip_count}, #{page_size}
    </select>

    <select id="LectureCount" resultType="int">
        SELECT count(*)
        FROM woo_lecture as wl
        INNER JOIN woo_order_detail as wod ON wl.lecture_idx = wod.lecture_idx
        <where>
            wod.member_id =#{member_id}
            <if test="search_types == null">
                and (lecture_title like concat('%', #{search_word},'%')
                or member_name like concat('%', #{search_word},'%' ))
            </if>
            <if test="search_types != null">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and lecture_title like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            and member_name like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
                and bbs_reg_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and bbs_reg_date <![CDATA[<=]]> #{search_date2}
            </if>
        </where>
    </select>

    <select id="comment_count" resultType="int">
        SELECT count(*)
        FROM woo_bbs_reply
        <where>
            <if test="bbs_type !=null and bbs_type !=''">
                bbs_category_code=#{bbs_type}
            </if>
            <if test="search_types != null">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and bbs_title like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            and member_id like concat('%', #{search_word},'%' )
                        </when>
                        <when test="type == 'c'.toString()">
                            and bbs_content like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
                and bbs_reg_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and bbs_reg_date <![CDATA[<=]]> #{search_date2}
            </if>
            and member_id =#{member_id}
        </where>
    </select>

    <select id="replyListByPage" resultType="org.fullstack4.woolim.domain.BbsReplyVO">
        SELECT br.reply_idx,br.member_id,br.reply_content,br.reply_reg_date, br.bbs_idx, wb.bbs_title
        FROM woo_bbs_reply AS br
        INNER JOIN woo_bbs AS wb ON wb.bbs_idx = br.bbs_idx
        <where>
            <if test="bbs_type !=null and bbs_type !=''">
                bbs_category_code=#{bbs_type}
            </if>
            <if test="search_types != null">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and bbs_title like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            and member_id like concat('%', #{search_word},'%' )
                        </when>
                        <when test="type == 'c'.toString()">
                            and bbs_content like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
                and bbs_reg_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and bbs_reg_date <![CDATA[<=]]> #{search_date2}
            </if>
            AND br.member_id = #{member_id}
        </where>

        order by bbs_idx desc
<!--        limit #{page_skip_count}, #{page_size}-->
    </select>

    <select id="grade_count" resultType="int">
        SELECT count(*)
        FROM woo_grade AS wg
        INNER JOIN woo_lecture AS wl ON wl.lecture_idx = wg.lecture_idx
        INNER JOIN woo_subject AS ws ON ws.subject_category_code = wl.lecture_category_subject
        INNER JOIN woo_member AS wm ON wm.member_id = wg.member_id
        <where>
            <if test="bbs_type !=null and bbs_type !=''">
                bbs_category_code=#{bbs_type}
            </if>
            <if test="search_types != null">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and bbs_title like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            and member_id like concat('%', #{search_word},'%' )
                        </when>
                        <when test="type == 'c'.toString()">
                            and bbs_content like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
                and bbs_reg_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and bbs_reg_date <![CDATA[<=]]> #{search_date2}
            </if>
            and wm.member_id =#{member_id}
        </where>
    </select>
    <select id="getGrade" resultType="org.fullstack4.woolim.domain.GradeVO">
        SELECT wg.grade_idx, wg.grade, wl.lecture_title, ws.subject_name, wm.member_name
        FROM woo_grade AS wg
        INNER JOIN woo_lecture AS wl ON wl.lecture_idx = wg.lecture_idx
        INNER JOIN woo_subject AS ws ON ws.subject_category_code = wl.lecture_category_subject
        INNER JOIN woo_member AS wm ON wm.member_id = wg.member_id
        WHERE wg.grade_idx = #{grade_idx}
    </select>

    <select id="gradeListByPage" resultType="org.fullstack4.woolim.domain.GradeVO">
        SELECT wg.grade_idx, wg.grade, wl.lecture_title, ws.subject_name, wm.member_name
        FROM woo_grade AS wg
        INNER JOIN woo_lecture AS wl ON wl.lecture_idx = wg.lecture_idx
        INNER JOIN woo_subject AS ws ON ws.subject_category_code = wl.lecture_category_subject
        INNER JOIN woo_member AS wm ON wm.member_id = wg.member_id
        <where>
            <if test="bbs_type !=null and bbs_type !=''">
                bbs_category_code=#{bbs_type}
            </if>
            <if test="search_types != null">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and bbs_title like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            and member_id like concat('%', #{search_word},'%' )
                        </when>
                        <when test="type == 'c'.toString()">
                            and bbs_content like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
            <if test="search_date1 != null and search_date1 != 'null' and search_date1 != ''">
                and bbs_reg_date >= #{search_date1}
            </if>
            <if test="search_date2 != null and search_date2 != 'null'  and search_date2 != ''">
                and bbs_reg_date <![CDATA[<=]]> #{search_date2}
            </if>
            AND wm.member_id = #{member_id}
        </where>

        <!--        limit #{page_skip_count}, #{page_size}-->
    </select>
</mapper>