<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">
<mapper namespace="org.fullstack4.woolim.mapper.QnaMapper">
    <insert id="regist" parameterType="org.fullstack4.woolim.domain.QnaVO" useGeneratedKeys="true" keyProperty="qna_idx" keyColumn="qna_idx">
        INSERT INTO woo_qna (member_id, qna_title, qna_content, qna_answer_YN, qna_category, qna_reg_date, qna_answer_status)
        VALUES(#{member_id}, #{qna_title}, #{qna_content}, 'N', #{qna_category}, NOW(), 'N')
    </insert>
    <update id="ref_update">
        UPDATE woo_qna
        SET ref_idx = #{qna_idx}
        WHERE qna_idx = #{qna_idx}
    </update>
    <insert id="file_regist">
        INSERT INTO woo_qna_file(qna_idx, orgFile, saveFile)
        VALUES(#{qna_idx},#{orgFile},#{saveFile})
    </insert>
    <select id="total_count" resultType="int">
        SELECT COUNT(*)
        FROM woo_qna
        <where>
            member_id = #{member_id}
            <if test="search_types != null">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and bbs_title like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            and member_id like concat('%', #{search_word},'%' )
                        </when>
                        <when test="type == 'c'.toString()">
                            and bbs_content like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
        </where>
    </select>
    <select id="qnaListByPage" resultType="org.fullstack4.woolim.domain.QnaVO">
        SELECT *
        FROM woo_qna
        <where>
            member_id= #{member_id}
            <if test="search_types != null">
                <foreach collection="search_types" item="type" >
                    <choose>
                        <when test="type == 't'.toString()">
                            and bbs_title like concat('%', #{search_word},'%')
                        </when>
                        <when test="type == 'u'.toString()">
                            and member_id like concat('%', #{search_word},'%' )
                        </when>
                        <when test="type == 'c'.toString()">
                            and bbs_content like concat('%', #{search_word},'%' )
                        </when>
                    </choose>
                </foreach>
            </if>
        </where>
        limit #{page_skip_count}, #{page_size}
    </select>



</mapper>